@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("./Bases/input.css");
@import url("./Bases/button.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-family: "-apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Roboto, Oxygen-Sans, Ubuntu, Cantarell, &quot;Helvetica Neue&quot;, sans-serif",
    sans-serif;
}

.content-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.fas {
  color: #fff;
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
