/* .button {
    height: 40px;
    min-width: 100px;
    border: 1px solid transparent;
    color: #fff;
    background: #EF3073;
    border-radius: 4px;
    font-size: 16px;
    padding: 0 12px;
    cursor: pointer;
    transition: all linear 0.6s;
}

.button:hover {
    color: #fff;
    border: 1px solid #f20759;
    background-color: #f20759;
}

.button-secondary {
    background: #fff;
    color: #bbb;
    border: 1px solid #bbb;
    cursor: pointer;
}

.button-secondary:hover {
    color: #EF3073;
    border: 1px solid #EF3073;
    background-color: #fff;
} */